DB_HOST=127.0.0.1 #Sesuaikan sama kebutuhan 
DB_PORT=3306 #Sesuaikan sama kebutuhan
DB_USERNAME=root #Sesuaikan sama kebutuhan
DB_PASSWORD= #Sesuaikan sama kebutuhan
DB_NAME=linkasa #Sesuaikan sama kebutuhan
JWT_SECRET=L1nk4Sa #Sesuaikan sama kebutuhan
ADMIN_EMAIL=linkasa.admin@linkasa.com #Sesuaikan sama kebutuhan
ADMIN_PASSWORD=@dM1n_12E #Sesuaikan sama kebutuhan

SUPABASE_API_URL=yoursupabaseapiurl
SUPABASE_ANON_KEY=yoursupabaseapikey
SUPABASE_PROJECT_ID=yoursupabaseprojectid 
STORAGE_BUCKET=yourstoragebucket
BEARER_TOKEN=yourbearertoken